.container {
    background: white;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

.container a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    padding: 1vw 0 0 0;
    position: relative;
}

.clip {
    background-color: rgb(127 240 153 / 40%);
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 74%, 0 74%);
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1vw;
}

.bottom h3 {
    line-height: 1;
    color: var(--primary);
    text-align: center;
}

.bottom button {
    margin-top: 5px;
}

@media screen and (min-width:1200px) {
    .container {
        height: 400px;
    }
}