.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    border-collapse: collapse;
    padding: 5vw 5vw 37vw 5vw;
}

@media screen and (min-width:1200px) {
    .container {
        padding: 50px;
    }
}